{% extends "base.html" %}
{% block title %}Display data lat lon bound - TST{% endblock %}
{% block content %}
{% if error %}
    <p class="">{{ error }}</p>
{% endif %}
{% if form %}
    <div class="form-group">
        <form action="/form2" method="POST">
            {{ form.csrf_token }}
            {{ form.lat1.label }} {{ form.lat1 }}<br/>
            {{ form.lat2.label }} {{ form.lat2 }}<br/>
            {{ form.lon1.label }} {{ form.lon1 }}<br/>
            {{ form.lon2.label }} {{ form.lon2 }}<br/>
            {{ form.state.label }} {{ form.state }}<br/>
            {{ form.min_pop.label }} {{ form.min_pop }}<br/>
            {{ form.max_pop.label }} {{ form.max_pop }}<br/>
            {{ form.inc_pop.label }} {{ form.inc_pop }}<br/>
            {{ form.submit }}
        </form>
    </div>
{% endif %}
{% if data == 1 %}
<p class="">Latitude1: {{ lat1 }}</p>
<p class="">Latitude2: {{ lat2 }}</p>
<p class="">Longitude1: {{ lon1 }}</p>
<p class="">Longitude2: {{ lon2 }}</p>
<div class="container-small" style="height: 600px; overflow: scroll;">
    <table class="table table-bordered table-hover table-fixed table-wrap">
        <caption>Modified Cities</caption>
        <thead>
            <tr>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Population</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p class="">Number of cities modified: {{ cnt }}</p>
{% endif %}
{% endblock %}
