{% extends "base.html" %}
{% block title %}Display data from city names - TST{% endblock %}
{% block content %}
{% if error %}
    <p class="">{{ error }}</p>
{% endif %}
{% if form != Null %}
    <div class="form-group">
        <form action="/form1" method="POST">
            {{ form.csrf_token() }}
            {{ form.City.label }} {{ form.City }}<br/>
            {{ form.submit }}
        </form>
    </div>
{% endif %}
{% if data == 1 %}
    <p class="">Cities: {{ City }}</p>
    <p class="">Total No. of Records with city = {{ City }} are {{ cnt }}.</p>
    <div class="container-small" style="height: 600px; overflow: scroll;">
    <table class="table table-bordered table-hover table-fixed table-wrap" style="width:max-content;height: 600px; overflow: scroll;">
        <caption>Earthquake Records</caption>
        <thead>
            <tr>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Population</th>
                <th scope="col">lat</th>
                <th scope="col">lon</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}

{% if additional_cities %}
    <h2>Additional Cities within 100 km:</h2>
    <ul>
        {% for c in additional_cities %}
            <li>{{ c[0] }} - {{ c[1] }}</li>
        {% endfor %}
    </ul>
{% endif %}
